# Hälsostudie – Del 2

Fördjupning, strukturering av kod och pipeline.

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

from sklearn.linear_model import LinearRegression

sns.set()
np.random.seed(42)

In [4]:
import sys
sys.path.append("..")

from src.data_loading import load_health_data

df = load_health_data()
df.head()

   id  age sex  height  weight  systolic_bp  cholesterol smoker  disease
0   1   57   F   168.9    65.8        141.8         4.58     No        0
1   2   47   M   180.4    95.9        144.8         5.18    Yes        0
2   3   59   F   169.9    82.2        151.7         6.16     No        0
3   4   72   M   157.7    93.1        151.0         6.63     No        0
4   5   46   M   192.6   104.1        144.1         5.21     No        0

In [5]:
from src.statistics import basic_descriptive_stats

sys.path.append(os.path.abspath(".."))

basic_stats = basic_descriptive_stats(df)
basic_stats

             age   weight     height  systolic_bp  cholesterol
mean    49.42625   73.413  171.84925   149.178625      4.92915
median  50.00000   73.200  171.35000   149.400000      4.97000
min     18.00000   33.700  144.40000   106.800000      2.50000
max     90.00000  114.400  200.40000   185.900000      7.88000