# Hälsostudie – Del 1

Individuell uppgift – Grundläggande analys och statistik.

Dataset: `health_study_dataset.csv`

Kolumner:
- age (år)
- sex (M/F)
- height (cm)
- weight (kg)
- systolic_bp (mmHg)
- cholesterol (mmol/L)
- smoker (Yes/No)
- disease (0/1)

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

# Stil för grafeerna
sns.set()

np.random.seed(42)

Matplotlib is building the font cache; this may take a moment.

In [3]:
df = pd.read_csv("../data/health_study_dataset.csv")

df.head()

   id  age sex  height  weight  systolic_bp  cholesterol smoker  disease
0   1   57   F   168.9    65.8        141.8         4.58     No        0
1   2   47   M   180.4    95.9        144.8         5.18    Yes        0
2   3   59   F   169.9    82.2        151.7         6.16     No        0
3   4   72   M   157.7    93.1        151.0         6.63     No        0
4   5   46   M   192.6   104.1        144.1         5.21     No        0

In [4]:
cols = ["age", "weight", "height", "systolic_bp", "cholesterol"]

descriptive_stats = df[cols].agg(["mean", "median", "min", "max"])
descriptive_stats

             age   weight     height  systolic_bp  cholesterol
mean    49.42625   73.413  171.84925   149.178625      4.92915
median  50.00000   73.200  171.35000   149.400000      4.97000
min     18.00000   33.700  144.40000   106.800000      2.50000
max     90.00000  114.400  200.40000   185.900000      7.88000

## Beskrivande statistik

Tabellen ovan visar medelvärde, median, min och max för ålder, vikt, längd,
systolistiskt blodtryck och kolesterol. Detta ger första överblicket över
hälsoprofilen i studien.